<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title><%= __('index_title') %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Ocean-IT</a>

        <nav id="nav" style="display: inline">
            <a href="/index"><%= __('header_nav_home')%></a>
            <a href="/introduction"><%= __('header_nav_introduction')%></a>
            <a href="/members"><%= __('header_nav_members')%></a>
            <a href="/research_fields"><%= __('header_nav_research_fields')%></a>
            <a href="/research_results"><%= __('header_nav_research_results')%></a>
            <a href="/question_board"><%= __('header_nav_question_board')%></a>

            <a href="/generic">형태</a>
            <a href="/elements">요소</a>

            <a href="/en" class="logo" style="position: unset">EN</a>
            <a href="/ko" class="logo" style="position: unset">KO</a>

        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>