		<%include includes/header.ejs%>
		<!-- Banner -->
			<section id="banner">
				<h1><%- __('index_welcome_message') %></h1>
				<p><%- __('index_introduce_summary') %></p>
				<h1>이미지는 추후 수정 예정입니다.</h1>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<h2 style="text-align: center; font-weight: bold"><%= __('index_h2_research_fields')%></h2>
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>첫 번째<br />연구분야</h3>
							</header>
							<p>연구분야에 게시된 최근 게시물부터 순서대로 우측 순 표시됩니다.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>두 번째<br />연구분야</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>세 번째<br />연구분야</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2><%= __('index_h2_members')%></h2>
						<p><%= __('index_p_members_summary')%></p>
					</header>
					<div class="flex flex-4">
						<%members_table.forEach(function (members) {%>
						<div class="box person">
							<div class="image round">
								<%console.log(members)%>
								<img width="100%" src="images/members/<%=members.profile_img%>" alt="Member <%=members.mid+1%>" />
							</div>
							<h3><%=members.name_ko%></h3>
							<p><%=members.affiliation%></p>
						</div>
						<%})%>
					</div>
				</div>
				<ul class="actions fit">
					<li style="display: inline-block">
						<a href="#" class="button fit">멤버 등록</a>
					</li>
				</ul>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>연구 성과</h2>
						<p>연구성과에 올라온 게시물들을 최신순으로 우측 순 표시합니다.</p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>첫 번째 연구성과</h3>
							</header>
							<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>두 번째 연구성과</h3>
							</header>
							<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>
		<%include includes/footer.ejs%>