<%include includes/header.ejs%>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>연구 분야</h2>
            <p>연구소의 연구분야 게시판</p>
        </header>
        <div class="12u$">
            <div class="select-wrapper">
                <div style="float:right">
                    <select name="category" id="category" style="width : 200px;">
                        <option value="">전체 보기</option>
                        <option value="1">진행 과제</option>
                        <option value="2">완료 과제</option>
                    </select>
                </div>
                <br><br><br>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="align-center">
                <thead>
                <tr>
                    <!-- 가운데 정렬, 자바 스크립트 - 함수 사용하여 최소화 가능(?) -->
                    <style>
                        .align-center th{
                            text-align: center;
                        }
                    </style>
                    <th>분류</th>
                    <th width="650">과제명</th>
                    <th>지원 기관</th>
                    <th>연구 기간</th>
                    <th>진행 상태</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i = (page_num - 1) * 7; i < page_num * 7; i++){%>
                    <%var row = research_fields_table[i]
                        if(row === undefined) continue;
                    %>
                    <tr style="cursor: pointer" onclick="location.href='/research_fields/detail/<%= row.rid%>'" >
                        <td><%= row.classification_ko%></td>
                        <td><%= row.research_name_ko%></td>
                        <td><%= row.support_organization_ko%></td>
                        <td><%= row.date_start + ' ~ '+ row.date_end%></td>
                        <td>연구 진행중</td> <!--end date를 받아와 현재 날짜와 비교 후 현재날짜를 초과했을 경우 연구 완료로 표시함-->
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>
        <!-- 쪽수 (1,2,3) -->
        <h4 style="text-align: center">
            <%for(var i = 1; i <= Math.ceil(research_fields_table.length / 7); i++){%>
            <a href="/research_fields/page/<%= i%>"><%= i%> </a>
            <%}%>
        </h4>
        <br>
        <div style="float:right">
            <a href="/research_fields/write" class="button special">작성하기</a>
            <!--<a href="#" class="button">삭제하기</a>-->
        </div>
    </div>
</section>
<%include includes/footer.ejs%>